.layout {
  padding-bottom: 120px;
}

.backButton {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.backIcon {
  margin-right: 18px;
}
